body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

header, footer {
  text-align: center;
  background-color: rgb(136, 0, 0);
  padding: 10px;
}
p{
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1, h2{
    color: #f8f8f8;
    font-style: italic;
}

h7{
  color: #f8f8f8;
}

h5{
  color: #f8f8f8;
}


.steps {
  display: flex;
  justify-content: space-around; 
  align-items: flex-start;
  flex-wrap: wrap; 
  padding: 40px 80px;
  gap: 40px;
  text-align: center;
}


.step, .step1, .step2 {
  width: 200px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.step img,
.step2 img,
.steps img{
  width: 500px;
  margin-bottom: 100px;
}

.step img,
.step1 img,
.step2 img {
  background-color: #f7f7f7;
  border-radius: 150%;
  padding: 20px;
  width: 150px;
  height: 150px;
  object-fit: contain;
}
p {
    font-size: 13px;
}
nav{
  color: #f7f7f7;
}