body {
  font-family: "Poppins", sans-serif;
  background-color: #555;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ddd;
  padding: 20px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

h1 {
  font-size: 2.5em;
  margin: 0;
  color: white;
  text-shadow: 2px 2px 4px #0a05ff;
}

p {
  max-width: 700px;
  margin: 20px auto;
  font-size: 1.1em;
  color: #ddd;
}

h2 {
  color: #00eeff;
  text-shadow: 1px 1px 2px #000;
  margin-top: 40px;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

th, td {
  border: 1px solid #555;
  padding: 12px;
}

th {
  background-color: #0084ff;
  color: #fff;
}

footer {
  background: #111;
  color: #ccc;
  border-top: 1px solid #333;
}
